:root {
  --color-primary: #2D5A4A;
  --color-accent: #c9e20e;
  --color-text-light: beige;
  --font-main: 'Quicksand', sans-serif;

  --text-h1: 40px;
  --text-h3: 27px;
  --text-body: 22px;
  --text-button: 18px;
  --text-h2: 20px;
}

/* =========================
   GLOBAL NAVBAR STYLES
========================= */

.heroo {
    background-color: var(--color-primary);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--color-primary);
}

.link{
    text-decoration: none;
    color: var(--color-text-light);
    font-size: 30px;
    font-family: var(--font-main);
}

.link:hover {
    opacity: 0.8;
}

.header h1, .navbar-brand h1 {
    color: var(--color-text-light) !important;
    transform: none !important;
    font-size: var(--text-h1) !important;
    font-weight: 700 !important;
    font-family: var(--font-main) !important;
    margin: 0 !important;
}

.header-1{
    display: flex;
    padding-top: 20px;
    gap: 20px;
    align-items: center;
}

.link h3 {
    font-family: var(--font-main);
    color: var(--color-text-light);
    font-size: var(--text-h3);
    margin: 0;
}

.link:hover h3 {
    color: var(--color-accent);
}
