:root {
  --color-primary: #2D5A4A;
  --color-accent: #c9e20e;
  --color-text-light: beige;
  --font-main: 'Quicksand', sans-serif;

  --text-h1: 40px;
  --text-h3: 20px;
  --text-body: 22px;
  --text-button: 18px;
  --text-h2: 20px;
}
